.text_hover{
  cursor: pointer;
}
.text_hover:hover{
  color: -webkit-link !important;
  transition:color .3s;
}
.btn_hover{
  cursor: pointer;
  transition: opacity .3s
}
.btn_hover:hover{
  opacity: 0.7;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}